/* CSS by Christian Ventura */

/* Imported Fonts */
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wdth,wght@0,18..144,87..112,300..900;1,18..144,87..112,300..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

/* Root Variables */
:root {
  --blue-bulletin: #1d3557;
  --news-flash: #e63946;
  --watchdog-white: #f1faee;
  --truth-text: #333;
  --story-subtitle: #457b9d;
  --font-body: "Source Sans 3", sans-serif;
  --font-heading: "Merriweather", serif;
  --shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  --transition: all 0.5s ease;
}

/* Manual Light/Dark Mode Styles*/
body.light-mode {
  background-color: var(--watchdog-white);
  color: var(--truth-text);
}
body.dark-mode {
  background-color: var(--truth-text);
  color: var(--watchdog-white);
}
#theme-toggle {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-color: var(--watchdog-white);
  border: 1px solid var(--blue-bulletin);
  border-radius: 1.5rem;
  cursor: pointer;
}

/* Skip Link */
.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  background: var(--watchdog-white);
  color: var(--truth-text);
  padding: 0.5rem 1rem;
  z-index: 100;
  transition: top 0.3s;
}

.skip-lin:focus {
  top: 0;
}

/* Navigation */
.mobile-nav .menu {
  display: none;
}

#menu-toggle:checked + .menu-button + .menu {
  display: block;
}

/* Layout & Typography */
body {
  font-family: var(--font-body);
  line-height: 1.6;
}

h1,
h2,
h3 {
  font-family: var(--font-heading);
}

/* Media Queries */
@media (min-width: 620px) {
  .mobile-nav .menu {
    display: flex;
    gap: 1rem;
  }
}

@media (min-width: 920px) {
  main {
    width: 80%;
    margin: auto;
  }
}

@media (min-width: 1024px) {
  header,
  footer {
    width: 80%;
    margin: auto;
  }
}

/* Interactive Queries */
@media (prefers-color-scheme: dark) {
  body:not(.light-mode) {
    background: var(--truth-text);
    color: var(--watchdog-white);
  }
}

@media (prefers-reduced-motion: reduce) {
  * {
    transition: none !important;
  }
}

/* Feature Query */
@supports (selector(: has(*))) {
  body:has(#menu-toggle:checked) {
    background-color: var(--story-subtitle);
  }
}
