body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: rgb(0, 0, 0);
  flex-direction: column;
}

button,
body,
input {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: rgb(245, 245, 245);
}

button {
  color: rgb(0, 0, 0);
}

.search-container {
  background-color: whitesmoke;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 20px 10px rgba(0, 0, 0, 1);
  width: 350px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
