@import url("https://fonts.googleapis.com/css2?family=Actor&family=Candal&display=swap");

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ------------------------GLOBAL STYLES--------------------- */
:root {
  --blue: #27668c;
  --light-green: #bfb630;
  --med-green: #565902;
  --dark-green: #403c01;
  --gray: #8d9586;
  --dark-gray: #222;
  --black: #000;
  --white: #fff;
  --heading-font: "Candal", sans-serif;
  --body-font: "Actor", sans-serif;
  font-size: 16px;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: var(--body-font);
}

* {
  color: var(--dark-gray);
  box-sizing: border-box;
  font-family: var(--body-font);
  line-height: 1.35;
}

#skip {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

#skip:focus {
  position: static;
  width: auto;
  height: auto;
}

header,
footer {
  background-color: var(--dark-green);
  color: var(--white);
}

img {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
  text-align: center;
}

h1 {
  color: var(--dark-gray);
  font-size: 1.5rem;
  padding: 0.75rem 0;
  text-align: center;
}

h2 {
  font-size: 1.25rem;
  padding: 0.6rem 0;
  white-space: nowrap;
  margin: 0.5rem 1rem;
}

h3 {
  font-size: 1.1rem;
}

.hidden {
  position: absolute;
  left: -10000px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

nav ul {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

a {
  color: var(--dark-gray);
}

nav a {
  font-family: var(--heading-font);
  text-decoration: none;
  color: var(--white);
  display: block;
  text-align: center;
  padding: 1.5rem 1rem;
}

.active {
  text-decoration: underline var(--light-green);
  text-decoration-thickness: 3px;
}

p {
  margin: 0 auto;
}

#homeMain p {
  padding: 1rem;
  max-width: 600px;
  margin: 0 auto;
}

#aboutPlants {
  background-color: var(--blue);
}

#contactUs {
  background-color: var(--med-green);
}

#aboutPlants p,
#aboutPlants h3,
#contactUs p,
#contactUs h3 {
  color: var(--white);
  padding: 1rem;
}

footer section {
  max-width: 275px;
  margin: 1rem auto 0 auto;
}

footer h2:first-of-type {
  padding-top: 1em;
}

footer h2,
footer a,
footer span {
  color: var(--white);
  display: block;
}

footer a {
  padding: 1rem 0;
}

address a:first-of-type {
  margin-top: 1rem;
}

footer address {
  font-family: var(--body-font);
  color: var(--white);
  margin-top: 1rem;
}

#logo {
  display: flex;
  align-items: center;
  margin: 0 auto;
  text-decoration: none;
}

#logo img {
  width: 90px;
  margin: 0;
}

#logo span {
  color: var(--white);
  font-family: var(--heading-font);
  font-size: 1.5rem;
  padding: 0.75rem 0 0.75rem 0.5rem;
}

#socialMedia {
  max-width: 340px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 1rem auto 0 auto;
  padding-bottom: 1rem;
}

#socialMedia h2 {
  grid-column: 1/-1;
  margin: 1rem 0 0 0;
}

#socialMedia img {
  width: 50px;
  margin: 0 auto;
  padding: 0.25rem;
}

/* ------------------------MOBILE STYLES--------------------- */
header {
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#hero {
  width: 100%;
  max-width: 1200px;
  margin: 1rem auto;
}

#homeMain span {
  display: block;
}

#logo span {
  display: none;
}

#logo {
  margin-top: 0.5rem;
}

#aboutPlants {
  margin-bottom: 1rem;
}

#aboutPlants img,
#contactUs img {
  width: 60%;
  max-width: 300px;
  margin: 0 auto;
}

.mobile {
  display: block;
  margin: 0.35rem 0;
}

.desktop {
  display: none;
}

/* -----------------------HOVER STYLES--------------------- */
@media (hover: hover) {
  nav a:hover {
    text-decoration: none;
    background-color: var(--light-green);
    color: var(--dark-gray);
  }
}

/* -----------------------SMALL STYLES--------------------- */
@media screen and (min-width: 500px) {
  header {
    display: grid;
    grid-template-columns: 100px 3fr;
    grid-template-rows: auto;
    align-items: center;
    height: auto;
    padding: 0.5rem 0;
  }

  #logo {
    grid-column: 1/2;
    margin: 0 0 0 1rem;
  }

  #logo img {
    width: 70px;
  }

  #logo span {
    display: block;
    font-size: 1.25rem;
  }

  nav {
    grid-column: 2/3;
  }

  nav ul {
    max-width: 300px;
    margin: 0 auto;
  }

  main article:nth-last-of-type {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 600px) {
  #aboutPlants div {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    max-width: 680px;
    margin: 0 auto;
  }

  #contactUs div {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    max-width: 680px;
    margin: 0 auto;
  }

  #contactUs a {
    grid-column: 2/3;
  }

  #contactUs p {
    grid-row: 2/3;
  }

  #contactUs h3 {
    grid-column: 1/-1;
    padding-bottom: 0;
  }

  #aboutPlants h3,
  #contactUs h3 {
    grid-column: 1/-1;
    padding-bottom: 0;
  }

  #aboutPlants h3 {
    grid-column: 1/-1;
    padding-bottom: 0;
  }

  #aboutPlants a {
    grid-column: 2/3;
  }

  #aboutPlants p {
    grid-column: 1/2;
    grid-row: 2/3;
  }

  #aboutPlants img,
  #contactUs img {
    width: 90%;
  }
}

/* -----------------------MED SCREEN STYLES-------------------- */
@media screen and (min-width: 700px) {
  .disclaimer {
    color: var(--white);
    text-align: center;
    grid-column: 1/-1;
    padding: 1rem 0;
  }

  footer div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    padding-bottom: 0;
    max-width: 700px;
    margin: 0 auto;
  }

  footer section {
    margin-top: 0;
  }
}

/* -----------------------LARGE SCREEN STYLES-------------------- */
@media screen and (min-width: 950px) {
  header {
    grid-template-columns: 150px 3fr;
    padding: 0;
  }

  nav {
    grid-column: 3/-1;
    max-width: 600px;
    margin: 0 auto;
  }

  main article:last-of-type {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 1rem;
  }

  #logo {
    margin: 0 0 0 2rem;
  }

  #aboutPlants {
    margin-bottom: 0;
  }

  .desktop {
    display: block;
    padding: 0.5rem;
    margin-top: 0.25rem;
  }

  nav {
    grid-column: 2/3;
    margin: 0 2rem 0 auto;
  }

  nav ul {
    display: flex;
    justify-content: flex-end;
    max-width: none;
  }

  nav a {
    padding: 1.5rem 1.5rem;
  }

  #aboutPlants,
  #contactUs {
    flex-grow: 1;
  }

  footer div {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    max-width: 1000px;
    padding: 1rem 0;
  }

  main article:last-of-type {
    display: flex;
    max-width: 1000px;
    margin: 1rem auto;
  }

  .mobile {
    display: none;
  }

  .disclaimer {
    order: 3;
    width: 100%;
  }

  address a {
    padding: 0.5rem;
  }

  footer section {
    max-width: 450px;
    margin: 0;
  }
}
