@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght,wdth,GRAD,slnt@8..144,100..1000,25..151,-200..200,-10..0&display=swap");

/* You can use the root element to store variables if you want - great for colors */
:root {
  --light-gray: #eaeaea;
  --white: #fff;
  --black: #000;
  --aaa-bg: #d11c1c;
  --aaa-text: #3fc30b;
  --aa-bg: #1440d1;
  --aa-text: #b610cc;
  --low-bg: #ed920a;
  --low-text: #17f5f9;
  --fonts: "Roboto Flex", sans-serif;
  /* --font-size: 16px; */
}

html,
body {
  font-family: var(--fonts);
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--light-gray);
  line-height: 1.35;
  box-sizing: border-box;
}

/* ----- MAIN STYLES ----- */
main {
  padding: 0 0.25rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 0.5rem;
  max-width: 1000px;
  margin: 0 auto;
}

/* ----- BREADCRUMBS STYLES ----- */
#breadcrumbs {
  padding: 0.5rem;
}

#breadcrumbs span {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
}

/* -----HEADER STYLES----- */
header {
  padding: 1rem;
}

/* -----HEADING STYLES----- */
h1,
h2 {
  text-align: center;
}

h1 {
  font-size: 2rem;
  margin: 1rem 0;
  font-variation-settings: "wght" 700;
}

h2 {
  font-size: 1.5rem;
  margin: 0.75rem 0;
  font-variation-settings: "wght" 500;
}

section:nth-of-type(1) h2 {
  font-variation-settings: "wght" 300, "wdth" 95, "opsz" 18;
}
section:nth-of-type(2) h2 {
  font-variation-settings: "wght" 350, "wdth" 110, "opsz" 20;
}
section:nth-of-type(3) h2 {
  font-variation-settings: "wght" 450, "wdth" 130, "opsz" 22;
}
section:nth-of-type(4) h2 {
  font-variation-settings: "wght" 500, "wdth" 100, "opsz" 26;
}
section:nth-of-type(5) h2 {
  font-variation-settings: "wght" 600, "wdth" 120, "opsz" 30;
}
section:nth-of-type(6) h2 {
  font-variation-settings: "wght" 700, "wdth" 85, "opsz" 36;
}
section:nth-of-type(7) h2 {
  font-variation-settings: "wght" 800, "wdth" 100, "opsz" 42;
}
section:nth-of-type(8) h2 {
  font-variation-settings: "wght" 850, "wdth" 140, "opsz" 48;
}
section:nth-of-type(9) h2 {
  font-variation-settings: "wght" 900, "wdth" 90, "opsz" 60;
}

/* ----- TEXT STYLES ----- */
p {
  max-width: 65ch;
  margin: 0 auto;
}

/* -----LIST STYLES----- */
ol {
  list-style-type: decimal;
  padding-left: 2rem;
  max-width: 65ch;
  margin: 0 auto;
}

/* -----SECTION STYLES----- */
section {
  background-color: var(--white);
  border: 1px solid #000000;
  margin: 0.25rem auto;
  padding: 0.5rem;
  width: calc(100% - 2rem);
  max-width: 400px;
}

/* ----- BUTTON STYLES ----- */
button {
  width: 2rem;
  height: 2rem;
  margin: 0 auto;
  border: none;
  padding: 0.25rem;
  border-radius: 50%;
  background-color: var(--light-gray);
}

/* ----- FOOTER STYLES ----- */
footer {
  padding: 1rem;
  text-align: center;
}

section:nth-of-type(1) button,
section:nth-of-type(2) button,
section:nth-of-type(3) button {
  width: 3.5rem;
  height: 3.5rem;
  margin: 1rem auto;
}

section:nth-of-type(4) button,
section:nth-of-type(5) button,
section:nth-of-type(6) button {
  width: 2.5rem;
  height: 2.5rem;
  margin: 0.75rem auto;
}

section:nth-of-type(7) button,
section:nth-of-type(8) button,
section:nth-of-type(9) button {
  width: 1.75rem;
  height: 1.75rem;
  margin: 0.25rem auto;
}

section:nth-of-type(1) button,
section:nth-of-type(4) button,
section:nth-of-type(7) button {
  background-color: var(--aaa-bg);
  color: var(--aaa-text);
}

section:nth-of-type(2) button,
section:nth-of-type(5) button,
section:nth-of-type(8) button {
  background-color: var(--aa-bg);
  color: var(--aa-text);
}

section:nth-of-type(3) button,
section:nth-of-type(6) button,
section:nth-of-type(9) button {
  background-color: var(--low-bg);
  color: var(--low-text);
}

section:nth-of-type(1) button:hover,
section:nth-of-type(4) button:hover,
section:nth-of-type(7) button:hover {
  cursor: grab;
}

section:nth-of-type(2) button:hover,
section:nth-of-type(5) button:hover,
section:nth-of-type(8) button:hover {
  cursor: wait;
}

section:nth-of-type(3) button:hover,
section:nth-of-type(6) button:hover,
section:nth-of-type(9) button:hover {
  cursor: not-allowed;
}
